{{ "<!-- Icons -->" | safeHTML }}
<!-- Apple -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
<!-- Android  -->
<link rel="shortcut icon" sizes="192x192" href="/android-192-favicon.png">

<!-- everything else -->
<link rel="shortcut icon" href="/android-192-favicon.png">
