// mobile ~320..480px
// 320px ~ 16rem/16px ~ 18.8235/17px ~ 17.7778/18px
// 480px ~ 30rem/16px ~ 28.2353rem/17px ~ 26.6667rem/18px
@media (min-width: 320px) and (max-width: 768px) {
  .sidebar {
    li {
      padding: .1rem 0;
    }
  }
  .hidden-tablet {
    display: none;
  }
}

// tablet/medium device ~768px+
// 768px ~ 48em/16px ~ 45.1765em/17px ~ 42.6667/18px
@media (min-width: 768px) {
  html,
  body {
    font-size: $small-device-font-size;
  }
  .sidebar {
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: left;
    top: 0;
    width: 18rem;
  }
  .sidebar-sticky {
    left: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  .content {
    margin-left: 20rem;
    margin-right: 2rem;
    max-width: 38rem;
  }
  .layout-reverse {
    .sidebar {
      left: auto;
      right: 0;
    }
    .content {
      margin-left: 2rem;
      margin-right: 20rem;
    }
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .project__title {
    margin-top: 0.2rem;
  }
  .post--navigation {
    display: flex;
    justify-content: space-between;
    a {
      width: calc(50% - 10px);
      &:nth-child(2) {
        margin-top: 0;
      }
    }
  }
}

// Large devices (laptops/desktops, 992px and up) 
// ~ 62rem/16px ~ 58.3529rem/17px ~ 55.1111rem/18px
@media (min-width: 992px) {
  html,
  body {
    font-size: $large-device-font-size;
  }
  .content {
    margin-left: 20rem;
    margin-right: 2rem;
    // max-width: 46.056rem;
    max-width: 38rem; // @ ~70 CPL
  }
  .layout-reverse .content {
    margin-left: 4rem;
    margin-right: 22rem;
  }
  .col-md-4 {
    float: left;
    width: 33.33333333%;
  }
  .col-md-8 {
    float: left;
    width: 66.66666667%;
  }
  .portfolio-container {
    width: 1360px;
  }
}

// Large device ~1024px
// 1024px ~  64rem/16px ~ 60.2353rem/17px 56.8889rem/18px
@media (min-width: 1024px) {
  // styles
}
