html, body {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

.img-circle {
  border-radius: 50%;
}

.headshot {
  width: 115px;
  height: 115px;
}

.brand {
  font-size: 2.6em;
  margin-bottom: 0;
}

.text-center {
  text-align:center;
}

.meta {
    font-size: .8rem !important;
    font-weight: 300;
}

pre {
  padding: 1px;
  tab-size: 2;
}

pre, code {
  font-family: monospace;
}
