@mixin link-no-decoration() {
  border-style: none;
}

@mixin link-hover() {
  color: $link-hover-color;
  border-bottom: 1px dotted $link-hover-color;
}

@mixin scroll-shadows($color) {
  position: relative;

  &.has-scroll-shadow-left::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 8px;
    background: linear-gradient(to right, $color, transparent);
    pointer-events: none;
    z-index: 1;
  }

  &.has-scroll-shadow-right::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 8px;
    background: linear-gradient(to left, $color, transparent);
    pointer-events: none;
    z-index: 1;
  }
}