// for the list of posts

.section__title {
	font-size: $section__title-font-size;

	code {
		@extend %code-in-rounded-box;
		font-size: 0.85em;
		white-space: nowrap;
		margin: 0 0.2em;
	}

	em, strong, del {
		margin: 0 0.15em;
	}
}

.post-list__item {
	margin-bottom: 3em;
}

.item__title--big {
	display: block;
	font-size: $item__title-big-font-size;
	line-height: 1.25;

	code {
		@extend %code-in-rounded-box;
		font-size: 0.85em;
		white-space: nowrap;
		margin: 0 0.2em;
	}

	em, strong, del {
		margin: 0 0.15em;
	}
}

.item__title--small {
	font-size: 1rem;

	code {
		@extend %code-in-rounded-box;
		font-size: 0.85em;
		white-space: nowrap;
		margin: 0 0.2em;
	}

	em, strong, del {
		margin: 0 0.15em;
	}
}

.item__date {
	color: $item__date-color;
	display: block;
	font-size: $item__date-font-size;
	margin-bottom: .2rem;
	margin-top: .2rem;
}
