<head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    {{ partial "header/meta.html" . }}
    {{ "<!-- highlighting -->" | safeHTML }}
    {{ partial "header/highlight-css.html" . }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/print.min.css" media="print">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/hyde-hyde.css">
    {{ `<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->` | safeHTML }}
    {{ "<!-- Icons -->" | safeHTML }}
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="/favicon.png">
    {{- if .RSSLink -}}
        {{ partial "header/feeds.html" . }}
    {{- end -}}
</head>
