<div>
    <ul class="post__nav">
        <li class="post__nav--next">
            {{ with .NextInSection -}}
            <a href="{{ .RelPermalink }}">                
                <span class="next__heading">NEXT</span>
                <span>{{ .Title }}</span>
            </a>
            <i class="fas fa-chevron-right"></i>
            {{- end }}
        </li>
        <li class="post__nav--previous">
            {{ with .PrevInSection -}}            
            <i class="fas fa-chevron-left"></i>
            <a href="{{ .RelPermalink }}">                
                <span class="previous__heading">PREVIOUS</span>
                <span class="previous__title">{{ .Title }}</span>
            </a>
            {{- end }}
        </li>
    </ul>
</div>
