<div class="sidebar">
  <div class="container text-center sidebar-sticky">
    <div class="sidebar-about" align="center">
      <a href="{{ .Site.BaseURL }}"><h1 class="brand">{{ .Site.Title }}</h1></a>
      {{ with .Site.Params.authorimage }} <img src="{{.}}" alt="Author Image" class="img-circle headshot"> {{ end }}      
      <p class="lead">
      {{ with .Site.Params.description }} {{.}} {{ else }} Your site's description {{end}}
      </p>
    </div>
    <div>
    <ul class="sidebar-nav">
      {{ range .Site.Menus.main -}}
        <li><a href="{{.URL}}"> {{ .Name | upper }} </a></li>
      {{- end }}
    </ul>
    </div>
    {{ partial "social.html" . }}
    <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}} {{.Site.Params.author}}. Some rights reserved. {{end}}</p>
  </div>
  <div>
  </div>
</div>
