<!-- Sidebar -->
<div class="sidebar">
  <div class="container {{ with .Site.Params.sidebarSticky }}sidebar-sticky{{ end }}">
    <div class="collapsible-menu">
      <input type="checkbox" id="menuToggle">
      <label for="menuToggle">{{ .Site.Title }}</label>
      <div class="menu-content">
        {{ partial "sidebar/about.html" . }}
        {{ partial "sidebar/menu.html" . }}
        {{ partial "sidebar/social.html" . }}
        {{ partial "sidebar/copyright.html" . }}
        {{ partial "sidebar/search.html" . }}
      </div>
    </div>
  </div>
</div>
